* {
  margin: 0;
  padding: 0;
  font-family: "Droid Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f0efeb;
  width: 100%;
  height: 100vh;
}

header {
  height: 5%;
}

main {
  height: 95%;
  display: flex;
  flex-direction: column;
}

#szukanie {
  height: 5%;
}

#wyniki{
  height: 95%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

@media (max-width: 600px) {
  #wyniki{
    height: 95%;
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
}

#dzisiaj{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#pogody {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: minmax(200px, 1fr);
  gap: 3%;
  overflow-x: auto;
}

.pogoda-dzisiaj {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 10%;
}

.blok-pogodowy {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blok-pogodowy:nth-child(8n) {
  background: #fcefb4;
}
.blok-pogodowy:nth-child(8n+1) {
  background: #f2ab7e;
}
.blok-pogodowy:nth-child(8n+2) {
  background: #ffcb69;
}
.blok-pogodowy:nth-child(8n+3) {
  background: #ffcb69;
}
.blok-pogodowy:nth-child(8n+4) {
  background: #fae588;
}
.blok-pogodowy:nth-child(8n+5) {
  background: #b1be9d;
}
.blok-pogodowy:nth-child(8n+6) {
  background: #a9a875;
}
.blok-pogodowy:nth-child(8n+7) {
  background: #81876e;
}

.data {
  margin: 0;
  font-size: clamp(0.8rem, 0.8rem + 0.5vw, 1.5rem);
  color: black;
  border-bottom: black 5px double;
}

.dane-pogodowe {
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.temperatura {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 1px black solid;
  width: 45%;
}

.temp-glowna {
  text-align: center;
  font-size: clamp(0.7rem, 0.7rem + 0.5vw, 2rem);
}

.warunki {
  width: 55%;
  text-decoration: underline;
  text-align: center;
  font-size: clamp(0.6rem, 0.6rem + 0.5vw, 1rem);
}





