@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400&family=Lora:ital@0;1&display=swap');



html{
  --amber-gold:#ffbe0bff;
  --blaze-orange: #fb5607ff;
  --neon-pink: #ff006eff;
  --blue-violet: #8338ecff;
  --azure-blue: #3a86ffff;
}

body {
  background: repeating-conic-gradient(
    var(--amber-gold) 3%,
    var(--amber-gold) 6%,
    var(--blaze-orange) 1%,
    var(--blaze-orange) 10%
  );
  color: black;
  font-family: Futura;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

header, footer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  font-size: 2em;
  color: white;
  -webkit-text-stroke: 3px black;
  box-shadow: 0 -5px 0 0 black inset;
  background: repeating-conic-gradient(
    var(--neon-pink) 0 25%,
    var(--blue-violet) 0 50%
  ) 50% / 50px 50px;
}

footer{
  font-size: 2.2em;
  box-shadow: 0 5px 0 0 black inset;
}


.fiona li {
  display: flex;
  align-items: center;
  border: 15px double black;
  padding: 0 35px;
  margin: 10px 0;
  backdrop-filter: blur(10px);
  background-color: #ffffff40;
}

.historia, .imiona{
  color: white;
}

main{
  display: flex;
  flex-direction: column;
}

.wstep{
  margin: 1% 5%;
  padding: 35px;
  border: 15px double black;
  background-clip: padding-box  ;
  background-image: radial-gradient(
    var(--amber-gold) 0%,
    var(--amber-gold) 15%,
    transparent 15%
  );
  background-size: 20px 20px;
}

.os {
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {

  .fiona{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1% 1%;
    padding: 35px;
  }





  .os h3{
    align-self: center;
  }

  .os p{
    padding: 0 15px;
    margin: 0;
  }

  .fiona li:nth-child(1), .fiona li:nth-child(3) {

    margin-right: 20%;
    flex-direction: row;
  }

  .fiona li:nth-child(2), .fiona li:nth-child(4) {
    margin-left: 20%;
    flex-direction: row-reverse;
  }

  img {
    width: 30%;
    height: auto;
    align-self: center;
    filter: saturate(500%) opacity(0.6);
  }

  .imiona {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .imiona h2 {
    display: flex;
    justify-content: center;
  }

  .imiona ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .imiona ul li{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 799px) {
  img {
    flex: 0 0 10%;
    width: 10%;
    height: auto;
    align-self: center;
    filter: saturate(500%) opacity(0.6);
  }

  .os h3{
    flex: 0 0 25%
  }
}
